/* CSS RESET
==================================================================================================== 
====================================================================================================
*/
html, body, div, main, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, button, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
::before, ::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box; }

/* HTML5 - Older browser support
====================================================================== */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* BODY
====================================================================== */
body {
  line-height: 1; }

/* LISTS - Clear bullets
====================================================================== */
ol, ul {
  list-style: none; }

/* QUOTES
====================================================================== */
blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* TABLES
====================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'museo100';
  src: url("../fonts/museo/museo100-regular-webfont.eot");
  src: url("../fonts/museo/museo100-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museo/museo100-regular-webfont.woff2") format("woff2"), url("../fonts/museo/museo100-regular-webfont.woff") format("woff"), url("../fonts/museo/museo100-regular-webfont.ttf") format("truetype"), url("../fonts/museo/museo100-regular-webfont.svg#museo100") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'museo300';
  src: url("../fonts/museo/museo300-regular-webfont.eot");
  src: url("../fonts/museo/museo300-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museo/museo300-regular-webfont.woff2") format("woff2"), url("../fonts/museo/museo300-regular-webfont.woff") format("woff"), url("../fonts/museo/museo300-regular-webfont.ttf") format("truetype"), url("../fonts/museo/museo300-regular-webfont.svg#museo300") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'museo500';
  src: url("../fonts/museo/museo500-regular-webfont.eot");
  src: url("../fonts/museo/museo500-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museo/museo500-regular-webfont.woff2") format("woff2"), url("../fonts/museo/museo500-regular-webfont.woff") format("woff"), url("../fonts/museo/museo500-regular-webfont.ttf") format("truetype"), url("../fonts/museo/museo500-regular-webfont.svg#museo500") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'museo700';
  src: url("../fonts/museo/museo700-regular-webfont.eot");
  src: url("../fonts/museo/museo700-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museo/museo700-regular-webfont.woff2") format("woff2"), url("../fonts/museo/museo700-regular-webfont.woff") format("woff"), url("../fonts/museo/museo700-regular-webfont.ttf") format("truetype"), url("../fonts/museo/museo700-regular-webfont.svg#museo700") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'museo900';
  src: url("../fonts/museo/museo900-regular-webfont.eot");
  src: url("../fonts/museo/museo900-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museo/museo900-regular-webfont.woff2") format("woff2"), url("../fonts/museo/museo900-regular-webfont.woff") format("woff"), url("../fonts/museo/museo900-regular-webfont.ttf") format("truetype"), url("../fonts/museo/museo900-regular-webfont.svg#museo900") format("svg");
  font-weight: normal;
  font-style: normal; }

/**
 * Foundation for Sites by ZURB
 * Version 6.3.1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.row {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto; }
  .row::before, .row::after {
    display: table;
    content: ' '; }
  .row::after {
    clear: both; }
  .row.collapse > .column, .row.collapse > .columns {
    padding-right: 0;
    padding-left: 0; }
  .row .row {
    margin-right: -0.625rem;
    margin-left: -0.625rem; }
    @media print, screen and (min-width: 40em) {
      .row .row {
        margin-right: -0.9375rem;
        margin-left: -0.9375rem; } }
    @media print, screen and (min-width: 64em) {
      .row .row {
        margin-right: -0.9375rem;
        margin-left: -0.9375rem; } }
    .row .row.collapse {
      margin-right: 0;
      margin-left: 0; }
  .row.expanded {
    max-width: none; }
    .row.expanded .row {
      margin-right: auto;
      margin-left: auto; }
  .row:not(.expanded) .row {
    max-width: none; }
  .row.gutter-small > .column, .row.gutter-small > .columns {
    padding-right: 0.625rem;
    padding-left: 0.625rem; }
  .row.gutter-medium > .column, .row.gutter-medium > .columns {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem; }

.column, .columns {
  width: 100%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .column, .columns {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
    float: right; }
  .column.end:last-child:last-child, .end.columns:last-child:last-child {
    float: left; }

.column.row.row, .row.row.columns {
  float: none; }

.row .column.row.row, .row .row.row.columns {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0; }

.small-1 {
  width: 8.33333%; }

.small-push-1 {
  position: relative;
  left: 8.33333%; }

.small-pull-1 {
  position: relative;
  left: -8.33333%; }

.small-offset-0 {
  margin-left: 0%; }

.small-2 {
  width: 16.66667%; }

.small-push-2 {
  position: relative;
  left: 16.66667%; }

.small-pull-2 {
  position: relative;
  left: -16.66667%; }

.small-offset-1 {
  margin-left: 8.33333%; }

.small-3 {
  width: 25%; }

.small-push-3 {
  position: relative;
  left: 25%; }

.small-pull-3 {
  position: relative;
  left: -25%; }

.small-offset-2 {
  margin-left: 16.66667%; }

.small-4 {
  width: 33.33333%; }

.small-push-4 {
  position: relative;
  left: 33.33333%; }

.small-pull-4 {
  position: relative;
  left: -33.33333%; }

.small-offset-3 {
  margin-left: 25%; }

.small-5 {
  width: 41.66667%; }

.small-push-5 {
  position: relative;
  left: 41.66667%; }

.small-pull-5 {
  position: relative;
  left: -41.66667%; }

.small-offset-4 {
  margin-left: 33.33333%; }

.small-6 {
  width: 50%; }

.small-push-6 {
  position: relative;
  left: 50%; }

.small-pull-6 {
  position: relative;
  left: -50%; }

.small-offset-5 {
  margin-left: 41.66667%; }

.small-7 {
  width: 58.33333%; }

.small-push-7 {
  position: relative;
  left: 58.33333%; }

.small-pull-7 {
  position: relative;
  left: -58.33333%; }

.small-offset-6 {
  margin-left: 50%; }

.small-8 {
  width: 66.66667%; }

.small-push-8 {
  position: relative;
  left: 66.66667%; }

.small-pull-8 {
  position: relative;
  left: -66.66667%; }

.small-offset-7 {
  margin-left: 58.33333%; }

.small-9 {
  width: 75%; }

.small-push-9 {
  position: relative;
  left: 75%; }

.small-pull-9 {
  position: relative;
  left: -75%; }

.small-offset-8 {
  margin-left: 66.66667%; }

.small-10 {
  width: 83.33333%; }

.small-push-10 {
  position: relative;
  left: 83.33333%; }

.small-pull-10 {
  position: relative;
  left: -83.33333%; }

.small-offset-9 {
  margin-left: 75%; }

.small-11 {
  width: 91.66667%; }

.small-push-11 {
  position: relative;
  left: 91.66667%; }

.small-pull-11 {
  position: relative;
  left: -91.66667%; }

.small-offset-10 {
  margin-left: 83.33333%; }

.small-12 {
  width: 100%; }

.small-offset-11 {
  margin-left: 91.66667%; }

.small-up-1 > .column, .small-up-1 > .columns {
  float: left;
  width: 100%; }
  .small-up-1 > .column:nth-of-type(1n), .small-up-1 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-1 > .column:nth-of-type(1n+1), .small-up-1 > .columns:nth-of-type(1n+1) {
    clear: both; }
  .small-up-1 > .column:last-child, .small-up-1 > .columns:last-child {
    float: left; }

.small-up-2 > .column, .small-up-2 > .columns {
  float: left;
  width: 50%; }
  .small-up-2 > .column:nth-of-type(1n), .small-up-2 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-2 > .column:nth-of-type(2n+1), .small-up-2 > .columns:nth-of-type(2n+1) {
    clear: both; }
  .small-up-2 > .column:last-child, .small-up-2 > .columns:last-child {
    float: left; }

.small-up-3 > .column, .small-up-3 > .columns {
  float: left;
  width: 33.33333%; }
  .small-up-3 > .column:nth-of-type(1n), .small-up-3 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-3 > .column:nth-of-type(3n+1), .small-up-3 > .columns:nth-of-type(3n+1) {
    clear: both; }
  .small-up-3 > .column:last-child, .small-up-3 > .columns:last-child {
    float: left; }

.small-up-4 > .column, .small-up-4 > .columns {
  float: left;
  width: 25%; }
  .small-up-4 > .column:nth-of-type(1n), .small-up-4 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-4 > .column:nth-of-type(4n+1), .small-up-4 > .columns:nth-of-type(4n+1) {
    clear: both; }
  .small-up-4 > .column:last-child, .small-up-4 > .columns:last-child {
    float: left; }

.small-up-5 > .column, .small-up-5 > .columns {
  float: left;
  width: 20%; }
  .small-up-5 > .column:nth-of-type(1n), .small-up-5 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-5 > .column:nth-of-type(5n+1), .small-up-5 > .columns:nth-of-type(5n+1) {
    clear: both; }
  .small-up-5 > .column:last-child, .small-up-5 > .columns:last-child {
    float: left; }

.small-up-6 > .column, .small-up-6 > .columns {
  float: left;
  width: 16.66667%; }
  .small-up-6 > .column:nth-of-type(1n), .small-up-6 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-6 > .column:nth-of-type(6n+1), .small-up-6 > .columns:nth-of-type(6n+1) {
    clear: both; }
  .small-up-6 > .column:last-child, .small-up-6 > .columns:last-child {
    float: left; }

.small-up-7 > .column, .small-up-7 > .columns {
  float: left;
  width: 14.28571%; }
  .small-up-7 > .column:nth-of-type(1n), .small-up-7 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-7 > .column:nth-of-type(7n+1), .small-up-7 > .columns:nth-of-type(7n+1) {
    clear: both; }
  .small-up-7 > .column:last-child, .small-up-7 > .columns:last-child {
    float: left; }

.small-up-8 > .column, .small-up-8 > .columns {
  float: left;
  width: 12.5%; }
  .small-up-8 > .column:nth-of-type(1n), .small-up-8 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-8 > .column:nth-of-type(8n+1), .small-up-8 > .columns:nth-of-type(8n+1) {
    clear: both; }
  .small-up-8 > .column:last-child, .small-up-8 > .columns:last-child {
    float: left; }

.small-collapse > .column, .small-collapse > .columns {
  padding-right: 0;
  padding-left: 0; }

.small-collapse .row {
  margin-right: 0;
  margin-left: 0; }

.expanded.row .small-collapse.row {
  margin-right: 0;
  margin-left: 0; }

.small-uncollapse > .column, .small-uncollapse > .columns {
  padding-right: 0.625rem;
  padding-left: 0.625rem; }

.small-centered {
  margin-right: auto;
  margin-left: auto; }
  .small-centered, .small-centered:last-child:not(:first-child) {
    float: none;
    clear: both; }

.small-uncentered,
.small-push-0,
.small-pull-0 {
  position: static;
  float: left;
  margin-right: 0;
  margin-left: 0; }

@media print, screen and (min-width: 40em) {
  .medium-1 {
    width: 8.33333%; }
  .medium-push-1 {
    position: relative;
    left: 8.33333%; }
  .medium-pull-1 {
    position: relative;
    left: -8.33333%; }
  .medium-offset-0 {
    margin-left: 0%; }
  .medium-2 {
    width: 16.66667%; }
  .medium-push-2 {
    position: relative;
    left: 16.66667%; }
  .medium-pull-2 {
    position: relative;
    left: -16.66667%; }
  .medium-offset-1 {
    margin-left: 8.33333%; }
  .medium-3 {
    width: 25%; }
  .medium-push-3 {
    position: relative;
    left: 25%; }
  .medium-pull-3 {
    position: relative;
    left: -25%; }
  .medium-offset-2 {
    margin-left: 16.66667%; }
  .medium-4 {
    width: 33.33333%; }
  .medium-push-4 {
    position: relative;
    left: 33.33333%; }
  .medium-pull-4 {
    position: relative;
    left: -33.33333%; }
  .medium-offset-3 {
    margin-left: 25%; }
  .medium-5 {
    width: 41.66667%; }
  .medium-push-5 {
    position: relative;
    left: 41.66667%; }
  .medium-pull-5 {
    position: relative;
    left: -41.66667%; }
  .medium-offset-4 {
    margin-left: 33.33333%; }
  .medium-6 {
    width: 50%; }
  .medium-push-6 {
    position: relative;
    left: 50%; }
  .medium-pull-6 {
    position: relative;
    left: -50%; }
  .medium-offset-5 {
    margin-left: 41.66667%; }
  .medium-7 {
    width: 58.33333%; }
  .medium-push-7 {
    position: relative;
    left: 58.33333%; }
  .medium-pull-7 {
    position: relative;
    left: -58.33333%; }
  .medium-offset-6 {
    margin-left: 50%; }
  .medium-8 {
    width: 66.66667%; }
  .medium-push-8 {
    position: relative;
    left: 66.66667%; }
  .medium-pull-8 {
    position: relative;
    left: -66.66667%; }
  .medium-offset-7 {
    margin-left: 58.33333%; }
  .medium-9 {
    width: 75%; }
  .medium-push-9 {
    position: relative;
    left: 75%; }
  .medium-pull-9 {
    position: relative;
    left: -75%; }
  .medium-offset-8 {
    margin-left: 66.66667%; }
  .medium-10 {
    width: 83.33333%; }
  .medium-push-10 {
    position: relative;
    left: 83.33333%; }
  .medium-pull-10 {
    position: relative;
    left: -83.33333%; }
  .medium-offset-9 {
    margin-left: 75%; }
  .medium-11 {
    width: 91.66667%; }
  .medium-push-11 {
    position: relative;
    left: 91.66667%; }
  .medium-pull-11 {
    position: relative;
    left: -91.66667%; }
  .medium-offset-10 {
    margin-left: 83.33333%; }
  .medium-12 {
    width: 100%; }
  .medium-offset-11 {
    margin-left: 91.66667%; }
  .medium-up-1 > .column, .medium-up-1 > .columns {
    float: left;
    width: 100%; }
    .medium-up-1 > .column:nth-of-type(1n), .medium-up-1 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-1 > .column:nth-of-type(1n+1), .medium-up-1 > .columns:nth-of-type(1n+1) {
      clear: both; }
    .medium-up-1 > .column:last-child, .medium-up-1 > .columns:last-child {
      float: left; }
  .medium-up-2 > .column, .medium-up-2 > .columns {
    float: left;
    width: 50%; }
    .medium-up-2 > .column:nth-of-type(1n), .medium-up-2 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-2 > .column:nth-of-type(2n+1), .medium-up-2 > .columns:nth-of-type(2n+1) {
      clear: both; }
    .medium-up-2 > .column:last-child, .medium-up-2 > .columns:last-child {
      float: left; }
  .medium-up-3 > .column, .medium-up-3 > .columns {
    float: left;
    width: 33.33333%; }
    .medium-up-3 > .column:nth-of-type(1n), .medium-up-3 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-3 > .column:nth-of-type(3n+1), .medium-up-3 > .columns:nth-of-type(3n+1) {
      clear: both; }
    .medium-up-3 > .column:last-child, .medium-up-3 > .columns:last-child {
      float: left; }
  .medium-up-4 > .column, .medium-up-4 > .columns {
    float: left;
    width: 25%; }
    .medium-up-4 > .column:nth-of-type(1n), .medium-up-4 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-4 > .column:nth-of-type(4n+1), .medium-up-4 > .columns:nth-of-type(4n+1) {
      clear: both; }
    .medium-up-4 > .column:last-child, .medium-up-4 > .columns:last-child {
      float: left; }
  .medium-up-5 > .column, .medium-up-5 > .columns {
    float: left;
    width: 20%; }
    .medium-up-5 > .column:nth-of-type(1n), .medium-up-5 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-5 > .column:nth-of-type(5n+1), .medium-up-5 > .columns:nth-of-type(5n+1) {
      clear: both; }
    .medium-up-5 > .column:last-child, .medium-up-5 > .columns:last-child {
      float: left; }
  .medium-up-6 > .column, .medium-up-6 > .columns {
    float: left;
    width: 16.66667%; }
    .medium-up-6 > .column:nth-of-type(1n), .medium-up-6 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-6 > .column:nth-of-type(6n+1), .medium-up-6 > .columns:nth-of-type(6n+1) {
      clear: both; }
    .medium-up-6 > .column:last-child, .medium-up-6 > .columns:last-child {
      float: left; }
  .medium-up-7 > .column, .medium-up-7 > .columns {
    float: left;
    width: 14.28571%; }
    .medium-up-7 > .column:nth-of-type(1n), .medium-up-7 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-7 > .column:nth-of-type(7n+1), .medium-up-7 > .columns:nth-of-type(7n+1) {
      clear: both; }
    .medium-up-7 > .column:last-child, .medium-up-7 > .columns:last-child {
      float: left; }
  .medium-up-8 > .column, .medium-up-8 > .columns {
    float: left;
    width: 12.5%; }
    .medium-up-8 > .column:nth-of-type(1n), .medium-up-8 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-8 > .column:nth-of-type(8n+1), .medium-up-8 > .columns:nth-of-type(8n+1) {
      clear: both; }
    .medium-up-8 > .column:last-child, .medium-up-8 > .columns:last-child {
      float: left; }
  .medium-collapse > .column, .medium-collapse > .columns {
    padding-right: 0;
    padding-left: 0; }
  .medium-collapse .row {
    margin-right: 0;
    margin-left: 0; }
  .expanded.row .medium-collapse.row {
    margin-right: 0;
    margin-left: 0; }
  .medium-uncollapse > .column, .medium-uncollapse > .columns {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem; }
  .medium-centered {
    margin-right: auto;
    margin-left: auto; }
    .medium-centered, .medium-centered:last-child:not(:first-child) {
      float: none;
      clear: both; }
  .medium-uncentered,
  .medium-push-0,
  .medium-pull-0 {
    position: static;
    float: left;
    margin-right: 0;
    margin-left: 0; } }

@media print, screen and (min-width: 64em) {
  .large-1 {
    width: 8.33333%; }
  .large-push-1 {
    position: relative;
    left: 8.33333%; }
  .large-pull-1 {
    position: relative;
    left: -8.33333%; }
  .large-offset-0 {
    margin-left: 0%; }
  .large-2 {
    width: 16.66667%; }
  .large-push-2 {
    position: relative;
    left: 16.66667%; }
  .large-pull-2 {
    position: relative;
    left: -16.66667%; }
  .large-offset-1 {
    margin-left: 8.33333%; }
  .large-3 {
    width: 25%; }
  .large-push-3 {
    position: relative;
    left: 25%; }
  .large-pull-3 {
    position: relative;
    left: -25%; }
  .large-offset-2 {
    margin-left: 16.66667%; }
  .large-4 {
    width: 33.33333%; }
  .large-push-4 {
    position: relative;
    left: 33.33333%; }
  .large-pull-4 {
    position: relative;
    left: -33.33333%; }
  .large-offset-3 {
    margin-left: 25%; }
  .large-5 {
    width: 41.66667%; }
  .large-push-5 {
    position: relative;
    left: 41.66667%; }
  .large-pull-5 {
    position: relative;
    left: -41.66667%; }
  .large-offset-4 {
    margin-left: 33.33333%; }
  .large-6 {
    width: 50%; }
  .large-push-6 {
    position: relative;
    left: 50%; }
  .large-pull-6 {
    position: relative;
    left: -50%; }
  .large-offset-5 {
    margin-left: 41.66667%; }
  .large-7 {
    width: 58.33333%; }
  .large-push-7 {
    position: relative;
    left: 58.33333%; }
  .large-pull-7 {
    position: relative;
    left: -58.33333%; }
  .large-offset-6 {
    margin-left: 50%; }
  .large-8 {
    width: 66.66667%; }
  .large-push-8 {
    position: relative;
    left: 66.66667%; }
  .large-pull-8 {
    position: relative;
    left: -66.66667%; }
  .large-offset-7 {
    margin-left: 58.33333%; }
  .large-9 {
    width: 75%; }
  .large-push-9 {
    position: relative;
    left: 75%; }
  .large-pull-9 {
    position: relative;
    left: -75%; }
  .large-offset-8 {
    margin-left: 66.66667%; }
  .large-10 {
    width: 83.33333%; }
  .large-push-10 {
    position: relative;
    left: 83.33333%; }
  .large-pull-10 {
    position: relative;
    left: -83.33333%; }
  .large-offset-9 {
    margin-left: 75%; }
  .large-11 {
    width: 91.66667%; }
  .large-push-11 {
    position: relative;
    left: 91.66667%; }
  .large-pull-11 {
    position: relative;
    left: -91.66667%; }
  .large-offset-10 {
    margin-left: 83.33333%; }
  .large-12 {
    width: 100%; }
  .large-offset-11 {
    margin-left: 91.66667%; }
  .large-up-1 > .column, .large-up-1 > .columns {
    float: left;
    width: 100%; }
    .large-up-1 > .column:nth-of-type(1n), .large-up-1 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-1 > .column:nth-of-type(1n+1), .large-up-1 > .columns:nth-of-type(1n+1) {
      clear: both; }
    .large-up-1 > .column:last-child, .large-up-1 > .columns:last-child {
      float: left; }
  .large-up-2 > .column, .large-up-2 > .columns {
    float: left;
    width: 50%; }
    .large-up-2 > .column:nth-of-type(1n), .large-up-2 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-2 > .column:nth-of-type(2n+1), .large-up-2 > .columns:nth-of-type(2n+1) {
      clear: both; }
    .large-up-2 > .column:last-child, .large-up-2 > .columns:last-child {
      float: left; }
  .large-up-3 > .column, .large-up-3 > .columns {
    float: left;
    width: 33.33333%; }
    .large-up-3 > .column:nth-of-type(1n), .large-up-3 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-3 > .column:nth-of-type(3n+1), .large-up-3 > .columns:nth-of-type(3n+1) {
      clear: both; }
    .large-up-3 > .column:last-child, .large-up-3 > .columns:last-child {
      float: left; }
  .large-up-4 > .column, .large-up-4 > .columns {
    float: left;
    width: 25%; }
    .large-up-4 > .column:nth-of-type(1n), .large-up-4 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-4 > .column:nth-of-type(4n+1), .large-up-4 > .columns:nth-of-type(4n+1) {
      clear: both; }
    .large-up-4 > .column:last-child, .large-up-4 > .columns:last-child {
      float: left; }
  .large-up-5 > .column, .large-up-5 > .columns {
    float: left;
    width: 20%; }
    .large-up-5 > .column:nth-of-type(1n), .large-up-5 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-5 > .column:nth-of-type(5n+1), .large-up-5 > .columns:nth-of-type(5n+1) {
      clear: both; }
    .large-up-5 > .column:last-child, .large-up-5 > .columns:last-child {
      float: left; }
  .large-up-6 > .column, .large-up-6 > .columns {
    float: left;
    width: 16.66667%; }
    .large-up-6 > .column:nth-of-type(1n), .large-up-6 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-6 > .column:nth-of-type(6n+1), .large-up-6 > .columns:nth-of-type(6n+1) {
      clear: both; }
    .large-up-6 > .column:last-child, .large-up-6 > .columns:last-child {
      float: left; }
  .large-up-7 > .column, .large-up-7 > .columns {
    float: left;
    width: 14.28571%; }
    .large-up-7 > .column:nth-of-type(1n), .large-up-7 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-7 > .column:nth-of-type(7n+1), .large-up-7 > .columns:nth-of-type(7n+1) {
      clear: both; }
    .large-up-7 > .column:last-child, .large-up-7 > .columns:last-child {
      float: left; }
  .large-up-8 > .column, .large-up-8 > .columns {
    float: left;
    width: 12.5%; }
    .large-up-8 > .column:nth-of-type(1n), .large-up-8 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-8 > .column:nth-of-type(8n+1), .large-up-8 > .columns:nth-of-type(8n+1) {
      clear: both; }
    .large-up-8 > .column:last-child, .large-up-8 > .columns:last-child {
      float: left; }
  .large-collapse > .column, .large-collapse > .columns {
    padding-right: 0;
    padding-left: 0; }
  .large-collapse .row {
    margin-right: 0;
    margin-left: 0; }
  .expanded.row .large-collapse.row {
    margin-right: 0;
    margin-left: 0; }
  .large-uncollapse > .column, .large-uncollapse > .columns {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem; }
  .large-centered {
    margin-right: auto;
    margin-left: auto; }
    .large-centered, .large-centered:last-child:not(:first-child) {
      float: none;
      clear: both; }
  .large-uncentered,
  .large-push-0,
  .large-pull-0 {
    position: static;
    float: left;
    margin-right: 0;
    margin-left: 0; } }

.column-block {
  margin-bottom: 1.25rem; }
  .column-block > :last-child {
    margin-bottom: 0; }
  @media print, screen and (min-width: 40em) {
    .column-block {
      margin-bottom: 1.875rem; }
      .column-block > :last-child {
        margin-bottom: 0; } }

#layer {
  display: none;
  z-index: 10; }
  #layer:after {
    content: "";
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 300;
    height: 200vh;
    width: 100vw; }

#delete-confirmation {
  display: none;
  background: white;
  position: fixed;
  width: 500px;
  margin: 0 auto;
  min-height: 120px;
  left: 0;
  right: 0;
  border: 5px;
  margin-top: 40vh;
  z-index: 400;
  top: 30px;
  padding-left: 3rem;
  padding-right: 3rem; }
  @media screen and (max-width: 37.5em) {
    #delete-confirmation {
      width: 100%;
      height: 170px; } }
  #delete-confirmation h4 {
    color: black;
    padding-top: 15px;
    margin-bottom: 20px;
    text-align: center;
    font-family: museo700; }
  #delete-confirmation button {
    width: 41.66667%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-family: museo700; }
    @media print, screen and (min-width: 40em) {
      #delete-confirmation button {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem; } }
    #delete-confirmation button:last-child:not(:first-child) {
      float: right; }
    @media screen and (max-width: 37.5em) {
      #delete-confirmation button {
        width: 100%;
        float: left;
        padding-right: 0.625rem;
        padding-left: 0.625rem;
        margin-bottom: 10px; } }
  @media screen and (max-width: 37.5em) and (min-width: 40em) {
    #delete-confirmation button {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
    @media screen and (max-width: 37.5em) {
        #delete-confirmation button:last-child:not(:first-child) {
          float: right; } }
  #delete-confirmation button:nth-child(3) {
    background: #669999; }
  #delete-confirmation button:nth-child(2) {
    background: #ff6666; }

body {
  background-color: #006666;
  font-family: museo300;
  transition: all .5s ease-in-out; }

h1, h2, h3 {
  color: white;
  font-family: museo700; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 28px; }

header {
  width: 100%;
  height: 80px;
  padding-top: 20px;
  background-color: black; }
  header h1 {
    text-align: center;
    font-size: 38px;
    padding-top: 5px; }
    header h1 span {
      color: #669999; }

nav {
  width: 25%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  height: vh100;
  background: #669999; }
  @media print, screen and (min-width: 40em) {
    nav {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  nav:last-child:not(:first-child) {
    float: right; }
  nav ul {
    color: white; }
    nav ul li {
      list-style-type: none;
      margin-bottom: 10px;
      text-align: center; }
      nav ul li ul li {
        list-style-type: none; }

section {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px; }
  section::before, section::after {
    display: table;
    content: ' '; }
  section::after {
    clear: both; }

.alert {
  display: block;
  width: 100%;
  height: 40px;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  background: #ff6666; }

.progress {
  width: 100%;
  height: 50px;
  width: 100%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .progress {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .progress:last-child:not(:first-child) {
    float: right; }
  @media screen and (max-width: 78.125em) {
    .progress {
      width: 91.66667%;
      float: left;
      padding-right: 0.625rem;
      padding-left: 0.625rem;
      left: 5%;
      right: 5%;
      margin-bottom: 20px; } }
  @media screen and (max-width: 78.125em) and (min-width: 40em) {
    .progress {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  @media screen and (max-width: 78.125em) {
      .progress:last-child:not(:first-child) {
        float: right; } }

.progress-wrap {
  background: #669999;
  margin: 20px 0;
  margin-bottom: 40px;
  border-radius: 5px;
  overflow: hidden;
  position: relative; }
  .progress-wrap .progress-bar {
    background: white;
    left: 0;
    position: absolute;
    top: 0;
    font-size: 22px;
    padding-top: 15px; }

#time {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto; }
  #time::before, #time::after {
    display: table;
    content: ' '; }
  #time::after {
    clear: both; }
  #time h2 {
    margin-top: 30px;
    text-transform: uppercase;
    margin-left: 5%;
    margin-right: 5%; }
  #time ul li {
    width: 29.16667%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    height: 80px;
    border-radius: 5px;
    float: left; }
    @media print, screen and (min-width: 40em) {
      #time ul li {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem; } }
    #time ul li:last-child:not(:first-child) {
      float: right; }
    @media screen and (max-width: 78.125em) {
      #time ul li {
        width: 91.66667%;
        float: left;
        padding-right: 0.625rem;
        padding-left: 0.625rem;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 20px;
        clear: both; } }
  @media screen and (max-width: 78.125em) and (min-width: 40em) {
    #time ul li {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
    @media screen and (max-width: 78.125em) {
        #time ul li:last-child:not(:first-child) {
          float: right; } }
    #time ul li h3 {
      padding: 15px;
      color: white;
      font-size: 24px; }
      #time ul li h3 span {
        padding-top: 5px;
        display: block;
        font-size: 18px;
        font-family: museo300; }
  #time ul li:nth-child(1) {
    background: #ff9933; }
  #time ul li:nth-child(2) {
    background: #ff6666;
    margin-left: 6%;
    margin-right: 6%; }
    @media screen and (max-width: 78.125em) {
      #time ul li:nth-child(2) {
        margin-left: 5%;
        margin-right: 5%; } }
  #time ul li:nth-child(3) {
    background: #669999; }
    @media screen and (max-width: 78.125em) {
      #time ul li:nth-child(3) {
        margin-right: 3%; } }

#tasks h2 {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

#overall h2 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

#overall img {
  display: block;
  margin: 0 auto; }
  @media screen and (max-width: 37.5em) {
    #overall img {
      width: 80%; } }

#tasks, #overall {
  width: 50%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  min-height: 200px;
  float: left;
  padding: 0 !important; }
  @media print, screen and (min-width: 40em) {
    #tasks, #overall {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  #tasks:last-child:not(:first-child), #overall:last-child:not(:first-child) {
    float: right; }
  @media screen and (max-width: 78.125em) {
    #tasks, #overall {
      width: 91.66667%;
      float: left;
      padding-right: 0.625rem;
      padding-left: 0.625rem;
      margin-left: 5%;
      margin-right: 5%; } }
  @media screen and (max-width: 78.125em) and (min-width: 40em) {
    #tasks, #overall {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  @media screen and (max-width: 78.125em) {
      #tasks:last-child:not(:first-child), #overall:last-child:not(:first-child) {
        float: right; } }
  #tasks h2, #overall h2 {
    text-align: center;
    display: block;
    background-color: #003333;
    padding: 30px 0px 0px 0px;
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    text-transform: uppercase; }
  #tasks ul li, #overall ul li {
    width: 100%;
    margin-top: 10px !important;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-width: 1px;
    height: 50px;
    display: block;
    margin: 0 auto; }
    #tasks ul li input[type='text'], #overall ul li input[type='text'] {
      background: none;
      color: white;
      width: 80%;
      height: 100%;
      padding: 20px; }
    @media screen and (max-width: 78.125em) {
      #tasks ul li input[type='text'], #overall ul li input[type='text'] {
        width: 80%; } }
    #tasks ul li input:focus, #overall ul li input:focus {
      outline: none; }
  #tasks p, #overall p {
    width: 100%;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    background: #669999; }
    #tasks p #add-task, #overall p #add-task {
      padding: 20px;
      width: 90%;
      height: 100%;
      color: white;
      background: none; }
      #tasks p #add-task::placeholder, #overall p #add-task::placeholder {
        color: white; }
    @media screen and (max-width: 78.125em) {
      #tasks p #add-task, #overall p #add-task {
        width: 84%; } }
    #tasks p .fa-plus-circle, #overall p .fa-plus-circle {
      font-size: 38px;
      position: relative;
      top: 10px; }

#to-do-list span {
  display: block;
  position: absolute;
  left: 46.5%;
  margin-top: -40px; }
  @media screen and (max-width: 78.125em) {
    #to-do-list span {
      left: 78%; } }
  #to-do-list span .fa-minus-circle {
    color: #ff6666;
    margin-left: 5%;
    font-size: 20px; }
  #to-do-list span .fa-pencil {
    color: white;
    font-size: 20px; }

#update-confirmation input {
  width: 100%;
  width: 100%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid 1px #006666; }
  @media print, screen and (min-width: 40em) {
    #update-confirmation input {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  #update-confirmation input:last-child:not(:first-child) {
    float: right; }

#update-confirmation button {
  display: block;
  width: 100%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    #update-confirmation button {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  #update-confirmation button:last-child:not(:first-child) {
    float: right; }
